.ratings_container {
  display: flex;
  justify-content: space-evenly;
}

.rating_card {
  border: 1px solid #e0e0e0; /* Лёгкая рамка */
  border-radius: 10px; /* Скругленные углы */
  width: 230px; /* Фиксированная ширина карточки */
  height: 150px; /* Увеличена высота */
  display: flex; /* Используем Flexbox */
  flex-direction: column; /* Размещаем содержимое вертикально */
  align-items: center; /* Центрируем по горизонтали */
  justify-content: center; /* Центрируем по вертикали */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-10px); /* Лёгкий подъём при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Увеличенная тень */
  }

  p {
    margin-top: 10px; /* Отступ под звёздами */
    color: black; /* Цвет текста */
    font-weight: 500; /* Полужирный текст */
    font-size: 14px; /* Размер текста */
  }
}

.rating {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Центрирование звёзд по горизонтали */
  gap: 5px; /* Пространство между звёздами */
  svg {
    color: #ffc107; /* Золотой цвет для звёзд */
    font-size: 18px; /* Размер звёзд */
  }
}

.img1 .img2 {
  height: auto; /* Автоматическая высота */
  margin-bottom: 10px; /* Отступ под изображением */
  border-radius: 5px; /* Лёгкое скругление изображения */
}
.img1 {
  max-width: 50px;
}
.img2 {
  max-width: 45px;
}
